@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.donate-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0em 2em;
}

.donate-wrapper img {
  width: 10em;
  margin: 2em;
}

.heading img {
  height: 6em;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  padding: 1em 0;
}

.contact {
  position: relative;
  min-height: 50vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
    url(bg.jpg);
  background-size: cover;

}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.contact .content p {
  font-weight: 300;
  color: #fff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
}

.container .contactInfo {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 1.5em 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 1rem;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 700;
  color: #00bcd4;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2 {
  font-size: 2rem;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 1.2em;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  resize: none;
  outline: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
  color: #e91363;
  font-size: 0.8em;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;

  }

  .container {
    flex-direction: column;
  }

  .container .contactInfo,
  .contactForm, 
  .donate-wrapper {
    margin-bottom: 3em;
    width: 100%;
  }
  .donate-wrapper {
    align-items: center;
  }

  .heading img {
    height: 9em;
  }

  .heading {
    padding: 3em 0;
  }
}