* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Toma Sans", sans-serif;
}

.seed {
  width: 50px;
  height: 50px;
  animation: glow 1s infinite alternate;
  position: absolute;
  top: 1em;
  right: 1em;
  background: url("https://api.iconify.design/noto-seedling.svg") no-repeat center center/contain;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px -10px #aef4af;
  }
  to {
    box-shadow: 0 0 10px 10px #aef4af;
  }
}
.modal-body {
  text-align: center;
}

.calendly-inline-widget {
  display: flex;
  height: 500px;
  min-width: 320px;
}
.calendly-inline-widget ._3t7mZz3weV {
  min-height: 25vh !important;
}
.calendly-inline-widget .iSDZ5t7E7z ._2hssQHj_5V {
  min-height: 20em !important;
}

.donate-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3em 0;
  width: 100%;
}
.donate-wrapper img {
  width: 9em;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  padding: 0.5em 0;
}
.heading img {
  height: 2em;
}

.contact {
  position: relative;
  min-height: 50vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(bg-desktop.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 0;
  min-height: 1000px;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
}
.contact .content .blurb {
  line-height: 2.4em;
  font-weight: 300;
  color: #FFFFFF;
}

.newsletter {
  display: flex;
  background: #111;
  background-size: cover;
  background-repeat: repeat;
  background-position: 50% 0;
  color: white;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}
.newsletter input {
  width: 100%;
}
.newsletter input input:focus ~ span,
.newsletter input input:valid ~ span,
.newsletter input textarea:focus ~ span,
.newsletter input textarea:valid ~ span {
  color: #E91363;
  font-size: 0.8em;
  transform: translateY(-20px);
}
.newsletter .newsletter-content {
  text-align: center;
  width: 50%;
  max-width: 35em;
}
.newsletter .newsletter-content p {
  padding-top: 1em;
}
.newsletter .newsletter-content input[name=email] {
  margin-top: 3em;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 1em;
}
.newsletter .newsletter-content input[name=email]:focus {
  outline: none;
}
.newsletter .newsletter-content input[name=submitButton] {
  margin-top: 3em;
  padding: 1em 1.5em;
  background-color: red;
  color: white;
  letter-spacing: 0.5em;
  width: 100%;
  border: none;
  cursor: pointer;
}
.newsletter .newsletter-content .terms {
  padding-top: 1.5em;
  display: flex;
  text-align: left;
  flex-direction: row;
}
.newsletter .newsletter-content input[name=checkbox] {
  padding: 1.5em;
  background-color: red;
  color: white;
  letter-spacing: 0.5em;
  min-width: 1em;
}
.newsletter .newsletter-content span {
  padding-left: 0.5rem;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -50px 0 0 0 !important;
  z-index: -999999;
  opacity: 0;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer .footer-content {
  width: 80%;
}
footer .footer-content .main-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
footer .footer-content .social-media {
  display: flex;
  width: 100%;
  justify-content: end;
}
footer .footer-content .social-media ul {
  padding-left: 2em;
  display: flex;
  width: 100%;
  list-style: none;
  color: #01A1B6;
  justify-content: space-around;
  text-align: right;
  align-items: center;
  min-width: 12em;
}
footer .footer-content .social-media ul li a {
  color: inherit;
}
footer .footer-nav {
  width: 100%;
}
footer .footer-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
footer .footer-nav ul li a {
  text-decoration: none;
  color: #888888;
  font-size: 0.8em;
}
footer .copyright {
  color: #bfbfbf;
  width: 100%;
  text-align: right;
}

.bottom-bar {
  width: 100%;
  margin-bottom: 6em;
  display: flex;
}

.footer-logo {
  min-width: 12em;
  width: 100%;
}
.footer-logo img {
  height: 6em;
  margin: 3em 0 0 1em;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5rem;
}
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box {
  position: relative;
  padding: 1.5em 0;
  display: flex;
}
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 1rem;
  color: #FFFFFF;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3 {
  font-weight: 700;
  color: #00BCD4;
}
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #E8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
}

.hr-container {
  display: flex;
  justify-content: center;
}

.contactForm {
  width: 50%;
  padding: 40px;
  background: #FFFFFF;
}
.contactForm h2 {
  font-size: 2rem;
  color: #333333;
  font-weight: 500;
}
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 1.2em;
}
.contactForm .inputBox input[type=submit] {
  width: 100px;
  background: #00BCD4;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.2rem;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #E91363;
  font-size: 0.8em;
  transform: translateY(-20px);
}
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666666;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  color: #444444;
  width: 100%;
  padding: 5px 0;
  font-size: 1rem;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333333;
  resize: none;
  outline: none;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .copyright {
    padding-left: 0;
    text-align: center;
  }

  .container {
    flex-direction: column;
  }

  .container .contactInfo,
.contactForm {
    margin-bottom: 3em;
    width: 100%;
  }

  .donate-wrapper {
    align-items: center;
    margin: 3em 0;
    width: 100%;
  }

  .heading img {
    height: 2.5em;
  }

  .heading {
    padding: 1em 0;
  }

  .bottom-bar {
    flex-direction: column;
  }

  .copyright {
    justify-content: center;
    margin-top: 3em;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .donate-wrapper {
    padding: 0 0;
  }

  .main-info {
    flex-direction: column;
  }

  .footer-logo {
    justify-content: center;
    text-align: center;
  }

  .footer-logo img {
    margin-left: 0;
  }

  .social-media ul {
    padding: 3em;
  }

  .copyright {
    padding-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
